<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topics-Webpage</title>
</head>
<body>
    <h1>Choose the Topic</h1>
    {% if topics %}
    <form method="post">
        {% csrf_token %}
        {% for topic in topics %}
        <label for="top">{{topic.top_name}}</label>
        <input type="checkbox" name="top" id="top" value="{{topic}}"><br>
        {% endfor %}
        <!-- <select name="top" id="top" multiple >
        {% for topic in topics %}
        <option value="{{topic}}">{{topic.top_name}}</option>
        {% endfor %}
    </select> -->
    <input type="submit" value="Submit">
    </form>
      
    {% else %}
      <h1>Data Not Found</h1>
    {% endif %}

</body>
</html>